.images-list
  margin 20px 0
  text-align center

  &-galery
    display inline-block
    text-align left

    @media screen and (max-width: 320px)
      text-align center
    @media screen and (max-width: 768px)
      text-align center
